@import './abstract/variables';

.primaryNav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    li.subMenu {
        position: relative;
        ul {
            display: none;
            width: 15rem;
            position: absolute;
            top: 1.25rem;
            border-radius: $border-radius;
            background-color: $clr-white;
            outline: 1pt solid $clr-gray;
            a {
                display: block;
                padding: 0.75rem;
                width: 100%;
                border-bottom: 1pt solid $clr-gray;
            }
        }
        &.subMenu:hover {
            .icon-down {
                transform: rotate(0.5turn);
                transition: $transition-time;
            }
            ul {
                display: block;
            }
        }
    } 
    a:hover:not(.contact) {
        opacity: 0.75;
    }
    .contact {
        @extend %btn
    }
}