@import './abstract/variables';

@media (max-width: $desktop) {
    #menuButton {
        position: relative;
        width: 2.5rem;
        aspect-ratio: 1;
        background: none;
        border: none;
        cursor: pointer;
        span {
            position: absolute;
            display: block;
            height: 2px;
            width: 80%;
            left: 10%;
            background-color: $clr-black;
            transition: $transition-time;
            &.top {
                top: 25%;
            }
            &.center {
                top: 50%
            }
            &.bottom {
                top: 75%;
            }
        }
        &.menuOpen {
            span {
                &.top {
                    top: 50%;
                    rotate: 45deg;
                }
                &.center {
                    opacity: 0;
                }
                &.bottom {
                    top: 50%;
                    rotate: -45deg;
                }
            }
        }
    }
    .primaryNav {
        display: none;
        position: absolute;
        top: 4.5rem;
        right: 1rem;
        width: 90%;
        background-color: $clr-white;
        border-radius: $border-radius;
        overflow: hidden;
        outline: 1pt solid $clr-gray;
        li a {
            display: block;
            width: 100%;
            padding: 0.75rem;
            border-bottom: 1pt solid $clr-gray;
            &.contact {
                color: $clr-white;
                background-color: $clr-accent;
            }
        }
        &.menuOpen {
            display: block;
            box-shadow: 0 0 0 100vmax #000c;
        }
    }
}