/* Abstract */
@import './abstract/variables';
@import './abstract/utilities';

/* Components */
@import './components/buttons';

body {
    font-family: $font-family;
}
#mainHeader {
    position: sticky;
    top: 0;
    background-color: $clr-primary;
    border-bottom: 1pt solid $clr-black;
    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 0.25rem;
        .logo {
            height: 3rem;
        }
        
    }   
}
#menuButton {
    position: relative;
    width: 2.5rem;
    aspect-ratio: 1;
    background: none;
    border: none;
    cursor: pointer;
    span {
        position: absolute;
        display: block;
        height: 2px;
        width: 80%;
        left: 10%;
        background-color: $clr-black;
        transition: $transition-time;
        &.top {
            top: 25%;
        }
        &.center {
            top: 50%
        }
        &.bottom {
            top: 75%;
        }
    }
    &.menuOpen {
        span {
            &.top {
                top: 50%;
                rotate: 45deg;
            }
            &.center {
                opacity: 0;
            }
            &.bottom {
                top: 50%;
                rotate: -45deg;
            }
        }
    }
}
.primaryNav {
    display: none;
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    width: 90%;
    background-color: $clr-white;
    border-radius: $border-radius;
    outline: 1pt solid red;
    &.menuOpen {
        display: block;
    }
}
.contentContainer {
    @extend %container;
    padding-block: 5rem;
}
footer {
    background-color: $clr-secondary;
    color: $clr-white;
    .innerFooter {
        @extend %container;
    }
    .footerCopy {
        padding-block: 0.5rem;
        text-align: center;
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}
#backToTop {
    --thisOffset: 2rem;
    position: fixed;
    bottom: var(--thisOffset);
    right: var(--thisOffset);
    width: 4rem;
    aspect-ratio: 1;
    border-radius: $round;
    background-color: $clr-accent;
    cursor: pointer;
    border: none;
}





/* Voy a usar esto despues */
/*.primaryNav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
        color: #222;
    }
}*/