/* Colors */
$clr-white: #FFF;
$clr-gray: #f0f0f0;
$clr-black: #2A2A2A;

$clr-primary: #F0E2CC;
$clr-secondary: #014E6B;
$clr-accent: #FF6F61;

/* Shapes */
$border-radius: 4px;
$round: 100%;

%container {
    margin-inline: auto;
    width: min(85rem, calc(100% - 2rem));
}

%btn {
    padding: 5px;
    color: $clr-white;
    background-color: $clr-accent;
    border: 1pt solid $clr-black;
    cursor: pointer;
    border-radius: $border-radius;
}

/* Media Queries */
$mobile: 48em;
$desktop: 64em;


/* Time */
$transition-time: 350ms;