/* Sizes */
$fs-1: 2rem; /* 32px */
$fs-2: 1.5rem; /* 24px */
$fs-3: 1.375rem; /* 22px */
$fs-4: 1.25rem; /* 20px */
$fs-5: 1.125rem; /* 18px */
$fs-6: 1rem; /* 16px */


/* Colors */
$clr-white: #FFF;
$clr-gray-light: #F8F8F8;
$clr-gray: #DDD;
$clr-black: #2A2A2A;

$clr-primary: #F0E2CC;
$clr-secondary: #014E6B;
$clr-accent: #FF6F61;

/* Shapes */
$border-radius: 4px;
$round: 100%;

%container {
    margin-inline: auto;
    width: min(85rem, calc(100% - 2rem));
}

%btn {
    display: block;
    padding: 5px 15px;
    color: $clr-white;
    background-color: $clr-accent;
    border: 1pt solid $clr-black;
    cursor: pointer;
    border-radius: $border-radius;
}

/* Media Queries */
$mobile: 48em;
$desktop: 64em;


/* Time */
$transition-time: 350ms;